# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# # https://atom.io/docs/latest/advanced/keymaps
# 'atom-workspace':
#   'ctrl-r c': 'sinatra-transporter:open-controller'
#   'ctrl-r v f': 'sinatra-transporter:open-view-finder'
#   'ctrl-r v': 'sinatra-transporter:open-view'
#   'ctrl-r l': 'sinatra-transporter:open-layout'
#   'ctrl-r m': 'sinatra-transporter:open-model'
#   'ctrl-r h': 'sinatra-transporter:open-helper'
#   'ctrl-r t': 'sinatra-transporter:open-test'
#   'ctrl-r s': 'sinatra-transporter:open-spec'
#   'ctrl-r p': 'sinatra-transporter:open-partial-template'
#   'ctrl-r a': 'sinatra-transporter:open-asset'
#   'ctrl-r d m': 'sinatra-transporter:open-migration-finder'
#   'ctrl-r f': 'sinatra-transporter:open-factory'
